<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Help Desk", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to "New Ticket", new_ticket_path %></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
